@mixin fix-100vh-in-mobile-WebKit {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100%
}

@mixin drawer-overlay-layer {
  nav ~ .v-overlay {
    z-index: 999999 !important;
  }
}
