@mixin avatar {
  .avatar {
    position: relative;

    .verified-badge {
      position: absolute;
      right: 0;
      bottom: -2px;
      color: rgb(56, 151, 240);

      &__layer {
        transform: scale(.7, .7);
        color: white;
      }
    }
  }
}

@include avatar;
