@import "../shared/container";

@include _page('dashboard') {
  .dashboard-field {
    .chatroom-list {
      user-select: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-template-rows: auto;
      gap: 1em;
      margin: 1em;

      .chatroom-card {

      }
    }
  }
}
