@import "../shared/container";
@import "../shared/mixin";

@include _page('dashboard') {
  @include fix-100vh-in-mobile-WebKit;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .dark-background {
    background-color: #272727;
  }

  .dashboard-field {
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .bar {
      transform: translateY(-1px);

      .content {
        user-select: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .left {
          flex-wrap: nowrap;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .right {
          .avatar {
            position: relative;
            border: 2px solid white;

            img {
              height: 100%;
              width: auto;
            }
          }
        }
      }
    }

    .chatroom-list {
      -webkit-overflow-scrolling: touch;
      overflow: auto;
      user-select: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-template-rows: auto;
      gap: 1em;
      margin: 1em;

      .chatroom-card {
        -webkit-overflow-scrolling: touch;

        .avatar {
          img {
            width: 36px;
            height: auto;
          }
        }
      }
    }

    .badge {
      position: relative;
      display: flex;
      width: 24px;
      height: 24px;
      margin-left: .5em;

      .verified-badge {
        position: absolute;
        color: rgb(56, 151, 240);

        &__layer {
          transform: scale(.7, .7);
          color: white;
        }
      }
    }

    .profile {
      margin: 1em;
      user-select: none;
    }

    .teachers{
      margin: 1em;
      user-select: none;
    }
  }
}
