@mixin app-bar {
  #app-bar {
    position: fixed;
    top: -2px;
    user-select: none;
    cursor: default;
    font-weight: bolder;
    z-index: 9999999;
    height: min-content;
  }
}

@include app-bar;
