@mixin msg-area {
  .msg-area {
    padding: 0 20px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    height: 100%;

    &--dark-background {
      background-color: #272727;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@include msg-area;
