@mixin msg-area {
  .wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .msg-area {
    -webkit-overflow-scrolling: touch;
    padding: 0 3px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;

    &--dark-background {
      background-color: #272727;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .no-msg-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      user-select: none;
      pointer-events: none;
      opacity: .2;
    }
  }
}

@include msg-area;
