@mixin msg-area {
  .wrapper {
    overflow: scroll;
  }

  .msg-area {
    -webkit-overflow-scrolling: touch;
    padding: 0 3px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;

    &--dark-background {
      background-color: #272727;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@include msg-area;
